<h1><%= @cocktail.name %></h1>
<div class="card-photo">
        <%= link_to cl_image_tag(@cocktail.photo, height: 200, width: 300, crop: :fill, :radius=>10), cocktail_path(@cocktail) %>
      </div>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %> (<%= dose.description %>) | <%= link_to '🗑', dose_path(dose), method: :delete %></li>
  <% end %>
</ul>

<h5><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %></h5>

<%= render 'doses/form' %>

<h6><%= link_to "Back to Home", cocktails_path %></h6>
