<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body>
 <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
  <%= image_tag 'cocktail.png', alt: 'logo', class: "cocktail" %>
  </a>
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fa fa-bars fa-1x"></i></span></button>

</nav>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag "application" %>
</body>
</html>
